<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="./css/styles.css">
    <title>Express - {{>title}}</title>
</head>
<body>
    <div class="main">
        {{>header}}
        
        <div class="help main-content container">
            <a href="mailto:shaikhobaid123@gmail.com" class="creator">{{ message }}</a>
        </div>

    </div>

    {{>footer}}
</body>
</html>